{
  "extends": [
    "xo",
    "xo-typescript",
    "prettier",
    "plugin:unicorn/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/object-curly-spacing": "off",
    "@typescript-eslint/indent": "off",
    "operator-linebreak": "off",
    "import/no-anonymous-default-export": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prevent-abbreviations": "off"
  }
}
